@page
@model cronch.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

<div class="text-center">
    <h1 class="display-4">About <span class="styled-logo-text">CRONCH!</span></h1>
    <p>Information about the project...</p>
</div>
