@page
@model cronch.Pages.AboutModel
@{
    ViewData["Title"] = "About";
    ViewData["active"] = "about";
}
<div class="text-center">
    <h1 class="display-4">About <span class="styled-logo-text">CRONCH!</span></h1>
    <br />
    Information about the project...
</div>
