@page
@model cronch.Pages.AddJobModel
@{
    ViewData["Title"] = "Add Job";
}
<h1 class="display-4 text-center">Add Job</h1>
<partial name="_JobAddEditPartial" model="Model.JobVM!" />

@*
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
*@
