@page
@model cronch.Pages.AddJobModel
@{
    ViewData["Title"] = "Add Job";
}
<div class="text-center">
    <h1 class="display-4">Add Job</h1>
    <partial name="_JobAddEditPartial" model="Model.JobVM!" />
</div>

@*
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
*@
