@page "{id:Guid}"
@model cronch.Pages.EditModel
@{
    ViewData["Title"] = "Edit Job";
}
<div class="text-center">
    <h1 class="display-4">Edit Job</h1>
    <partial name="_JobAddEditPartial" model="Model.JobVM!" />
</div>