@page "{id:Guid}"
@model cronch.Pages.ExecutionModel
@{
    ViewData["Title"] = "Job Execution Details";
}
<div class="text-center">
    <h1 class="display-4">Job Execution Details</h1>
    <br />
    <p>@Model.Execution.JobName</p>
</div>
