@page
@model cronch.Pages.HistoryModel
@{
    ViewData["Title"] = "History";
    ViewData["active"] = "history";
}
<div class="text-center">
    <h1 class="display-4">Job Execution History</h1>
    <br />
    <partial name="_ExecutionListPartial" />
</div>
