@page
@model IndexModel
@{
    ViewData["Title"] = "Overview";
    ViewData["active"] = "overview";
}

<div class="text-center" id="content-root" hx-get="@(HttpContext.Request.Path + HttpContext.Request.QueryString)" hx-trigger="every 3s" hx-select="#content-root" hx-swap="outerHTML">
    <h1 class="display-4">Welcome to <span class="styled-logo-text">CRONCH!</span></h1>
    <div class="d-flex gap-4 justify-content-center align-items-center my-3">
        <a asp-page="Manage" class="text-decoration-none text-muted">
            <strong class="text-body">@Model.EnabledJobCount of @Model.TotalJobCount</strong> jobs enabled
        </a>
        <span class="text-muted">·</span>
        <a asp-page="History" asp-route-status="Running" class="text-decoration-none text-muted">
            <strong class="text-body">@Model.RunningJobCount</strong> currently running
        </a>
    </div>
    <h2>Recent job executions</h2>
    <partial name="_ExecutionListPartial" model="Model.RecentExecutions" />
</div>
