@page
@model cronch.Pages.RuntimeStatsModel
@{
    ViewData["Title"] = "Runtime Statistics";
}
<div class="text-center">
    <h1 class="display-4">Runtime Statistics</h1>
    <br />
    <div class="text-start bg-body-secondary rounded-4 p-3">
        <div class="ms-4">
            <code>
                <pre>@Model.Statistics</pre>
            </code>
        </div>
    </div>
</div>
