@page
@model SettingsModel
@{
    ViewData["Title"] = "Settings";
    ViewData["active"] = "settings";
}
<div class="text-center">
    <h1 class="display-4">Settings</h1>
    <br />
    Global settings go here...
</div>
