@page
@model SettingsModel
@{
    ViewData["Title"] = "Settings";
    ViewData["active"] = "settings";
}
<div class="text-center">
    <h1 class="display-4">Settings</h1>
    <br />
    <div class="container text-start px-5">
        <div asp-validation-summary="All" class="rounded border border-2 border-danger"></div>
        <form method="post">
            <div class="row gx-5">
                <div class="col mb-3 d-flex align-items-center">
                    <div class="flex-fill">
                        <label bs5-for="SettingsVM.MaxHistoryItemsShown" class="form-label"></label>
                        <input bs5-for="SettingsVM.MaxHistoryItemsShown" class="form-control" />
                        <span asp-validation-for="SettingsVM.MaxHistoryItemsShown" class="text-danger"></span>
                    </div>
                </div>
                <div class="col mb-3 d-flex align-items-center">
                    <div class="shadow p-3 bg-body-tertiary rounded flex-fill">
                        Optional - the maximum number of executions shown on the History page
                        <br /><br />
                        If left empty, this defaults to @(Services.SettingsService.DefaultMaxHistoryItemsShown).
                    </div>
                </div>
            </div>
            <div class="row gx-5">
                <hr />
            </div>
            <div class="row gx-5">
                <div class="col mb-3 d-flex align-items-center">
                    <div class="flex-fill">
                        <label bs5-for="SettingsVM.DeleteHistoricalRunsAfterCount" class="form-label"></label>
                        <input bs5-for="SettingsVM.DeleteHistoricalRunsAfterCount" class="form-control" />
                        <span asp-validation-for="SettingsVM.DeleteHistoricalRunsAfterCount" class="text-danger"></span>
                    </div>
                </div>
                <div class="col mb-3 d-flex align-items-center">
                    <div class="shadow p-3 bg-body-tertiary rounded flex-fill">
                        Optional - if specified, executions of each run will be deleted after this count, oldest first
                        <br /><br />
                        If left empty, executions will not be deleted based on count per run. They may still be deleted based on age (see below).
                    </div>
                </div>
            </div>
            <div class="row gx-5">
                <hr />
            </div>
            <div class="row gx-5">
                <div class="col mb-3 d-flex align-items-center">
                    <div class="flex-fill">
                        <label bs5-for="SettingsVM.DeleteHistoricalRunsAfterDays" class="form-label"></label>
                        <input bs5-for="SettingsVM.DeleteHistoricalRunsAfterDays" class="form-control" />
                        <span asp-validation-for="SettingsVM.DeleteHistoricalRunsAfterDays" class="text-danger"></span>
                    </div>
                </div>
                <div class="col mb-3 d-flex align-items-center">
                    <div class="shadow p-3 bg-body-tertiary rounded flex-fill">
                        Optional - if specified, executions will be deleted when they are older than the specified number of days
                        <br /><br />
                        If left empty, executions will not be deleted based on age. They may still be deleted based on count (see above).
                    </div>
                </div>
            </div>
            <br />
            <button type="submit" class="btn btn-primary">Save</button>
            <br /><br />
        </form>
    </div>
</div>
